<footer class=" footer">
    <div class=" container-fluid">
        <ul class=" nav">
            <li class=" nav-item">
                <a class=" nav-link" href="https://www.creative-tim.com?ref=bda-footer">
                    Keyce IOT
                </a>
            </li>
            <li class=" nav-item">
                <a class=" nav-link" href="https://www.creative-tim.com/about-us?ref=bda-footer">
                    About Us
                </a>
            </li>
            <li class=" nav-item">
                <a class=" nav-link" href="http://blog.creative-tim.com?ref=bda-footer"> Blog </a>
            </li>
        </ul>
        <div class=" copyright">
            &copy; {{ date | date: "yyyy" }} made with
            <i class=" tim-icons icon-heart-2"> </i> by
            <a target="_blank"> Keyce IOT </a>
            for a better web.
        </div>
    </div>
</footer>
