<div class="content">
    <ngb-alert type="{{ messageAlert.type }}" *ngIf="messageAlert.actif === true" (closed)="close()">
        {{ messageAlert.message }}
    </ngb-alert>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Tableau des alertes</h4>
                    <button class="btn btn-danger float-right" (click)="open(content)">Ajouter une alerte</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter">
                            <thead class="text-primary">
                            <tr>
                                <th>Nom</th>
                                <th>Température min</th>
                                <th>Température max</th>
                                <th>Humidité min</th>
                                <th>Humidité min</th>
                                <th>Actif min</th>
                                <th>Date création</th>
                                <th>Date modification</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let alert of alerts">
                                <td>{{ alert.name }}</td>
                                <td>{{ alert.tempMin }}°C</td>
                                <td>{{ alert.tempMax }}°C</td>
                                <td>{{ alert.humMin }}%</td>
                                <td>{{ alert.humMax }}%</td>
                                <td>{{ alert.active }}</td>
                                <td>{{ alert.dateCreation |date: 'dd/MM/yyyy, hh:mm'}}</td>
                                <td>{{ alert.dateModification |date: 'dd/MM/yyyy, hh:mm'}}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-6 pr-3">
                                            <button class="btn btn-warning" (click)="open(content, alert)">Editer</button>
                                        </div>
                                        <div class="col-6 ">
                                            <button class="btn btn-danger" (click)="desactiveAlert(alert.id)">Supprimer</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Création d'une alerte</h4>
        <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">x</button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-12 pr-3">
                    <div class="form-group">
                        <label for="name">Nom de la plante</label>
                        <input
                            id="name"
                            formControlName="name"
                            class="form-control form-control-custom"
                            placeholder="Tomate"
                            type="text"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pr-3">
                    <div class="">
                        <label for="tempMin">Température min °C</label>
                        <input
                            id="tempMin"
                            formControlName="tempMin"
                            class="form-control form-control-custom"
                            placeholder="30.5°C"
                            type="number"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pr-3">
                    <div class="">
                        <label for="tempMax">Température max °C</label>
                        <input
                            id="tempMax"
                            formControlName="tempMax"
                            class="form-control form-control-custom"
                            placeholder="20°C"
                            type="number"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pr-3">
                    <div class="form-group">
                        <label for="humMin">Humidité min %</label>
                        <input
                            id="humMin"
                            formControlName="humMin"
                            class="form-control form-control-custom"
                            placeholder="20%"
                            type="number"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pr-3">
                    <div class="form-group">
                        <label for="humMax">Humidité max %</label>
                        <input
                            id="humMax"
                            formControlName="humMax"
                            class="form-control form-control-custom"
                            placeholder="50%"
                            type="number"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pr-3">
                    <div>
                        <input type="checkbox"
                               value=""
                               id="actif"
                               formControlName="actif"
                        >
                        <label class="form-check-label form-control-custom pl-3" for="actif">
                            Actif
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer d-block">
        <button type="button" *ngIf="edit === false" class="btn btn-outline-dark float-right" (click)="modal.close('Save click'); onSubmit('create')">Ajouter</button>
        <button type="button" *ngIf="edit === true" class="btn btn-outline-dark float-right" (click)="modal.close('Save click'); onSubmit('edit')">Editer</button>
    </div>
</ng-template>
