<router-outlet></router-outlet>
<div class="content" *ngIf="user">
    <div class="row">
        <div class="col-md-12">
            <div class="card-user card">
                <div class="card-header">
                    <h5 class="title">Edition du profil</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-6 pr-3">
                                <div class="form-group">
                                    <label for="email">Nom :</label>
                                    <input id="nom"
                                           class="form-control"
                                           placeholder="Keyce"
                                           type="text"
                                           formControlName="nom"
                                    />
                                </div>
                            </div>
                            <div class="col-6 pr-3">
                                <div class="form-group">
                                    <label for="email">Prenom :</label>
                                    <input id="prenom"
                                           class="form-control"
                                           placeholder="E-CDP"
                                           type="text"
                                           formControlName="prenom"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 pr-3">
                                <div class="form-group">
                                    <label for="email">Adresse Email :</label>
                                    <input id="email"
                                           class="form-control"
                                           placeholder="mike@email.com"
                                           type="email"
                                           formControlName="email"
                                    />
                                </div>
                            </div>
                            <div class="col-6 pr-3">
                                <div class="form-group">
                                    <label for="roles">Roles :</label>
                                    <input id="roles"
                                           class="form-control"
                                           type="text"
                                           formControlName="roles"
                                           disabled
                                    />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-fill btn-danger" type="submit">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>
</div>
