<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card card-plain">
                <div class=" card-header">Position du capteur LoRaWAN Audenis</div>
                <div class=" card-body">
                    <div class=" map" id="map">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
