<router-outlet></router-outlet>
<div>
    <ngb-alert type="{{ messageAlert.type }}" *ngIf="messageAlert.actif === true" (closed)="close()">
        {{ messageAlert.message }}
    </ngb-alert>
</div>
<div class="content">
    <div class="login">
        <div class="col-lg-4 col-md-6">
            <div class="card-user card" *ngIf="user">
                <div class="card-header">
                    <h1 class="title text-center">Connexion</h1>
                </div>
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="col-12">
                            <div class=" form-group">
                                <label>Adresse E-Mail</label>
                                <input
                                    class="form-control"
                                    placeholder="Company"
                                    formControlName="email"
                                    type="text"
                                    value="Mike"
                                />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Mot de passe</label>
                                <input
                                    class="form-control"
                                    formControlName="password"
                                    placeholder="Last Name"
                                    type="password"
                                    value="Andrew"
                                />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group text-right">
                                <a class="lost-password" (click)="lostPassword()">Mot de passe oublié ?</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-fill btn-danger btn-connexion" type="submit" (click)="onSubmit()">Connexion</button>
                </div>
            </div>
        </div>
    </div>
</div>
