.content {
    height: 100vh;
    display: grid;

    .login {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .card-footer {
        display: flex;
        justify-content: end;
    }

    .btn-connexion {
        margin-right: 15px;
    }

    .lost-password {
        cursor: pointer;
    }
}
