@import "~@fortawesome/fontawesome-free/css/all.min.css";

::ng-deep .icon:before {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
}

::ng-deep .icon.temperature:before {
    content: "\f2cb";
    margin-right: 10px;
}

::ng-deep .icon.humidity:before {
    content: "\f043";
    margin-right: 10px;
}

::ng-deep .icon.battery:before {
    content: "\";
    margin-right: 10px;
}

