<div class="content">
    <ngb-alert type="{{ messageAlertTemp.type }}" *ngIf="messageAlertTemp.actif === true"
               (closed)="close('temperature')">{{ messageAlertTemp.message }}</ngb-alert>
    <ngb-alert type="{{ messageAlertHum.type }}" *ngIf="messageAlertHum.actif === true"
               (closed)="close('humidite')">{{ messageAlertHum.message }}</ngb-alert>
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h2 class="card-title">Courbe de température</h2>
                            <h3 class="card-title">
                                <span class="icon temperature">22°C</span>
                            </h3>
                        </div>
                        <div class=" col-sm-6">
                            <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                <label class=" btn btn-sm btn-danger btn-simple"
                                       (click)="getDatabyDay();clicked=true;clicked1=false;clicked2=false"
                                       [ngClass]="{'active':clicked===true}"
                                >
                                    <input checked="checked" name="options" type="radio"/>
                                    <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                        Jour
                                    </span>
                                    <span class=" d-block d-sm-none">
                                        <i class=" tim-icons icon-single-02"> </i>
                                    </span>
                                </label>
                                <label class=" btn btn-sm btn-danger btn-simple"
                                       (click)="getDatabyWeek();clicked=false;clicked1=true;clicked2=false"
                                       [ngClass]="{'active':clicked1===true}">
                                    <input class=" d-none d-sm-none" name="options" type="radio"/>
                                    <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                        Semaine
                                    </span>
                                    <span class=" d-block d-sm-none">
                                        <i class=" tim-icons icon-gift-2"> </i>
                                    </span>
                                </label>
                                <label class=" btn btn-sm btn-danger btn-simple"
                                       (click)="getDatabyMonth();clicked=false;clicked1=false;clicked2=true"
                                       [ngClass]="{'active':clicked2===true}">
                                    <input class=" d-none" name="options" type="radio"/>
                                    <span class=" d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                        Mois
                                    </span>
                                    <span class=" d-block d-sm-none">
                                    <i class=" tim-icons icon-tap-02"> </i>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="chartTemp"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Courbe d'humidité</h5>
                    <h4 class="card-title">
                        <span class="icon humidity">20%</span>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="chartHumidity"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Batterie du capteur</h5>
                    <h4 class="card-title">
                        <span class="icon battery">75%</span>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="chartBattery"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
